.nav-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 20px;
  color: white;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  min-width: 120px;
  justify-content: center;
}

.bg-orange {
  background: rgb(224, 122, 82);
}
.bg-grey {
  background: rgb(87, 87, 87);
}
.bg-yellow {
  background: rgb(243, 252, 124);
  color: black;
}
.bg-red {
  background: rgb(255, 74, 74);
  border: 4px solid;
  box-sizing: content-box;
}

.nav-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
}

.nav-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
}

.nav-button::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.nav-button::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.nav-button:hover::before,
.nav-button:hover::after {
  height: 60%;
}
